@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Controle de Jogos</h1>
    <p class="lead">Controle seus jogos por categoria e console</p>
    <p class="lead">Cadastre seus amigos</p>
    <p class="lead">Matenha o controle de seus emprestimos</p>
</div>

<div id="topEmprestimos">

</div>

@section scripts{
    <script>
        $(function ()
        {
            $.get('@Url.Action("ObterTopJogos", "Jogos")', function (data)
            {
                $('#topEmprestimos').html(data);
            });
        })
    </script>
}